e-comm-frontend/node_modules
e-comm-frontend/npm-debug.log*
e-comm-frontend/yarn-error.log


ecomm-django-backend/venv/
ecomm-django-backend/__pycache__/    
ecomm-django-backend/*.py[cod]
ecomm-django-backend/*.egg-info/
ecomm-django-backend/.Python
ecomm-django-backend/*.pyo
ecomm-django-backend/*.pyd
ecomm-django-backend/*.pdb
ecomm-django-backend/*.log
ecomm-django-backend/*.sqlite3

e-comm-frontend/.env
ecomm-django-backend/.env


.DS_Store

logs/
*.log
*.tmp
*.out


*.db
*.sqlite3
pgdata/ 